<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>login</title>
<link rel="stylesheet" type="text/css" href="public/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="public/css/demo.css" />
<link rel="stylesheet" type="text/css" href="public/css/component.css" />
</head>
<body>
	<div class="container demo-1">
		<div class="content">
			<div id="large-header" class="large-header">
				<h1>Todoist!</h1>
				<canvas id="demo-canvas"></canvas>
				<div class="logo_box">
					<h3>Welcome</h3>
					<form action="./index" name="log" method="post" onsubmit="return check()">
						<div class="input_outer">
							<span class="u_user"></span>
							<input name="logname" class="text" id="username" style="color: #FFFFFF !important" type="text" placeholder="Please input the username">
						</div>
						<div class="input_outer">
							<span class="us_uer"></span>
							<input name="logpass" class="text" id="password" style="color: #FFFFFF !important; position: absolute; z-index: 100;"value="" type="password" placeholder="Please input the password" >
						</div>
						<div class="mb2">
							<input type="submit" class="act-but submit" style="color: #FFFFFF; height: 40px; width: 140px; margin-top: 10px; margin-left: 90px; padding: 0;" value="Login" />
							<span id="tip" style="color: red; margin: 0 auto;"></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="public/js/demo-1.js"></script>
</body>
</html>
